!!! 5
%html
  %head
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"css/style.css"}
  %body
    %nav
      %ul.nav
        %li
          %a Главная
        %li
          %a Мой кабинет
        %li
          %a Оформление заказа
    %h1 Оформление заказа
    %div.block
      %ul
        %li
          %a.active 1. Мой заказ
        %li
          %a 2. Способ доставки
        %li
          %a 3. Способ оплаты
    %div.content
      %div.img1
        %img{:src=>"img/pic_elephant.png", :alt=>""}
      %div.img2
        %img{:src=>"img/pic_basket.png", :alt=>""}
      %div.img3
        %img{:src=>"img/pic_hedgehog.png", :alt=>""}